@import '../../sass/colors.scss';
@import '../../sass/fonts.scss';

$small-breakpoint: 576px;
$medium-breakpoint: 768px;
$large-breakpoint: 992px;
$extra-large-breakpoint: 1200px;

.pepiniere {

  p, a {
    font-family: 'geomanistbook';
  }
  .is-bold {
    font-family: 'geomanistmedium';
  }
  .is-extralight-italic {
    font-family: 'geomanist-extralight-italic';
  }
  .blog-article {
    max-width: 800px;
  }
  .cover {
    position: relative;
    background-position: center;
    background-size: cover;
    height: 650px;
    text-align: center;
  }
  .pepiniere-logo {
    object-fit: cover;
    max-height: 40%;
    margin: 20px auto;
  }

  .btn {
    background-color: $blue;
    margin: 0 auto;
    color: $white;
    font-weight: normal;
    font-family: 'geomanistmedium';
    border-radius: 0;
    padding: 0.375rem 2rem;
  }
  .intervenants {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  .intervenant {
    flex-basis: 20%;
    padding: 0 5px;
    figure {
      width:100%;
      overflow:hidden;
      margin:0;
    }
    img {
      display:block; /*remove inline-block spaces*/
      width:100%; /*make image streatch*/
      margin-bottom: 0;
    }
  }
}

@media (min-width: $small-breakpoint) {
  .pepiniere {
    .cover {
      height: 400px;
    }
    .intervenant {
      flex-basis: 50%
    }
    .title.size-1, .title.size-2 {
      font-size: 2rem;
      padding-top: 1rem;
    }
  }
}

@media (min-width: $medium-breakpoint) {
  .pepiniere {
    .intervenant {
      flex-basis: 33%
    }
  }
}

@media (min-width: $large-breakpoint) {
  .pepiniere {
    .intervenant {
      flex-basis: 25%
    }
  }
}

@media (min-width: $extra-large-breakpoint) {
  .pepiniere {
    .intervenant {
      flex-basis: 20%
    }
  }
}