@import '../../sass/colors.scss';
@import '../../sass/fonts.scss';
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.sliderImageContainer {
  position: relative;
  img {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.sliderImageFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  h3 {
    color: #fff;

  }
}