
$white: #fff !default;
$gray-100: #eef0f0 !default;
$gray-200: #e9e9e9 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #86b4c3 !default;
$indigo: #3f51b5 !default;
$purple: #673ab7 !default;
$pink: #e91e63 !default;
$red: #dc4764 !default;
$orange: #ff5722 !default;
$yellow: #ffab00 !default;
$green: #64d29b !default;
$gray: #5b6a6c !default;
$teal: #009688 !default;
$cyan: #00bcd4 !default;
$colibris-grey: #5b6a6c