@import '../../sass/colors.scss';
@import '../../sass/fonts.scss';

$oasis-pink: #f8b0b1;
$small-breakpoint: 576px;
$medium-breakpoint: 768px;
$large-breakpoint: 992px;
$extra-large-breakpoint: 1200px;

.temps-oasis {

  p, a {
    font-family: 'geomanistbook';
  }
  .is-bold {
    font-family: 'geomanistmedium';
  }
  .title {
    font-family: 'GlossAndBloom';
    text-align: center;
    line-height: 1.5
  }
  .title.blue {
    color: $blue;
  }
  .title.pink {
    color: $oasis-pink;
  }
  .title.size-1 {
    font-size: 4rem;
  }
  .title.size-2 {
    font-size: 3.5rem;
  }
  .title.size-3 {
    font-size: 2.5rem;
  }
  .blog-article {
    max-width: 800px;
  }
  .cover {
    position: relative;
    background-position: center;
    background-size: cover;
    height: 650px;
    text-align: center;
  }
  .temps-oasis-logo {
    object-fit: cover;
    max-height: 110%;
    margin: 0 auto;
  }
  .accordion {
    background-color: $oasis-pink;
    border: none;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 12px;
    color: $white;
    // p {display: block;}
    h4 {
      text-align: center;
      color: $white;
      font-size: 1.2rem;
    }
    i::before, i::after {
      background-color: $white;
    }
    .accordion-content {
      margin-bottom: .5em;
    }
  }

  .accordion > ul > li input[type="checkbox"]:checked ~ .accordion-content {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    padding: 0;
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
    p {
      display: none;
    }
  }
  .accordion > ul > li input[type="checkbox"]:checked ~ p {
    display: none;
  }

  .discover-oasis {
    margin-top: 5rem;
  }

  .oasis-feature {
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    &:last-child {
      margin-bottom: 6rem;
    }
    .oasis-feature__header {
      text-align: center;
      margin-bottom: 1.5rem;

    }
    h3 {
      color: $blue;
      font-size: 2.3rem;
    }
    .row p {
      text-align: justify;
    }
    .btn {
      background-color: $oasis-pink;
      margin: 0 auto;
      color: $white;
      font-weight: normal;
      font-family: 'geomanistmedium';
      border-radius: 0;
    }
  }
  .oasis-feature:last-child {
      margin-bottom: 6rem;
    }
}

@media (max-width: $small-breakpoint) {
  .temps-oasis {
    .cover {
      height: 400px;
    }
    .title.size-1, .title.size-2 {
      font-size: 2rem;
      padding-top: 1rem;
    }
    .accordion {
      h4 {
        font-size: 1rem;
      }
    }
  }
}