@import '../../sass/colors.scss';
@import '../../sass/fonts.scss';

$cta-color: $green;

.logo,
.navbar-brand img {
  width: 140px;
  margin: 0;
  padding: 0;
}

.logo {
  flex: 0 0 140px;
}

.navbar .container.nav-container {
  flex-wrap: nowrap;
}

.navbar-nav {
  font-family: 'geomanistmedium';

  li {
    position: relative;
    &.cta {
      background-color: $cta-color;
      margin-left: 1rem;
      transition: background 0.2s ease-in;
      &:hover {
        background-color: darken($cta-color, 20%);
      }
    }
  }

  li.active::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    display: block;
    bottom: 5px;
    right: 1.5rem;
    border-bottom: 3px solid $blue;
  }
  .nav-item .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  a {
    color: $gray;
    text-transform: uppercase;
    transition: color 0.3s ease-out, background 3s ease-in;
    font-size: 0.9rem;

    &:hover {
      color: $blue;
    }
  }
  .cta a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
}
.navbar-toggler {
  display: none;
  position: absolute;
  color: #5b6a6c;
  top: 2em;
  font-size: 1.5rem !important;
}

.navbar-nav-scroll {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .navbar-nav {

    .nav-item.cta {
      background-color: $cta-color;
      border-radius: 2rem;
      margin-bottom: 10px;
      margin-top: -10px;
      .nav-link {
        font-size: 0.8rem;
        padding: 0.5rem 1rem;

      }
      &:hover {
        background-color: darken($cta-color, 20%);
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .navbar-nav {
    .nav-item .nav-link {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }
}

@media screen and (max-width: 990px) {
  .navbar .container.nav-container {
    flex-wrap: wrap;
  }

  .navbar-toggler {
    display: block;
  }
  .logo {
    width: 100%;
    flex: 1 1 auto;
  }
  .navbar-nav-scroll {
    display: none;
  }
  .navbar-nav-scroll.show {
    display: block;
    width: 100%;

    .navbar-nav {
      display: block;
    }
    li {
      display: block;
      margin: 1px 0;
      background-color: $blue;
      color: $white;
      &.cta {
        background-color: $cta-color;
      }
      a {
        color: $white;

        &:hover {
          background-color: $gray;
        }
      }

      &:hover {
        background-color: $gray;
      }
    }
  }
}
