@import '../../sass/colors.scss';
@import '../../sass/fonts.scss';

.contained-page {
  margin-top:3em;
  margin-bottom:5em;

  .page-header {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid $gray-200;
    word-break: break-word;
  }

  .page-content {
    padding-bottom: 10px;
    text-align: justify;
    font-size:18px;

    h2 {
      padding-top: 10px;
      margin-bottom: 20px;
    }

    p {
      margin: 20px 0;
    }

    blockquote {
      background-color: $gray-100;
      border-left: 5px solid $gray-200;
      padding: 0.25em 1.5em;

      a {
        display: block;
        word-break: break-word;
      }
    }
  }
}
