@import '../../sass/colors.scss';
@import '../../sass/fonts.scss';

.card-oasis {
  &:hover .description {
    margin-top:0;
  }

  background: white;
  border-radius:4px;
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
  position: relative;
  height:330px;

  .moving-group {
    height:300px;    
    overflow: hidden;
  }

  .title {
    text-align: right;
    width: 100%;
    color:$gray;
    padding-right: .33em;
  }
  .departement {
    color:$red;
      font-family: 'geomanistbold';
      margin: .5em;
      text-transform: uppercase;
      text-align: right;
  }
  .description {
    text-align: justify;
    color:$gray;
    transition: margin .3s ease;
    height: 195px;
    margin: -195px .5em .5em .5em;
    display: flex;
    align-items: center;
  }
  .group-sticky {
    position: relative;
    height: 30px;

    .avancement {
      font-family: 'geomanistmedium';
      font-size: 13px;
      line-height: 2em;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 65%;
      height: 30px;
      background:$yellow;
      color: #fff;
      border: none;
      display: inline-block;
      text-align: center;
      border-bottom-left-radius: 4px;
    }
    .financed {
      background-color: $green;
    }

    .montant {
      font-family: 'geomanistmedium';
      font-size: 13px;
      line-height: 2em;
      position: absolute; 
      bottom: 0;
      right: 0;
      width: 35%;
      height: 30px;
      background:$blue;
      color: #fff;
      border: none;
      display: inline-block;
      text-align: center;
      border-bottom-right-radius: 4px;
    }
  }

  .picto-status {
    width: 55px;
    position: absolute;
    left: 15px;
  }
}
