@import '../../sass/colors.scss';
@import '../../sass/fonts.scss';

$small-breakpoint: 576px;
$medium-breakpoint: 768px;
$large-breakpoint: 992px;
$extra-large-breakpoint: 1200px;

.membre {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
  padding: 0 1rem;
  .membre-wrapper {
    text-align: center;
    cursor: pointer;
    min-width: 180px;
    img {
      margin-bottom: 0.5rem;
    }
    h3 {
      color: $blue;
    }
  }
  .membre-metadata {
    position: relative;
    background-color: #fafafa;
    border-bottom: 6px solid $blue;
    padding: 1rem;
    overflow-y: hidden;
    max-height: 0px;
    opacity: 0;
    transition: max-height 0.5s ease-in;
    transition: opacity 2s ease-out;
    p {
      margin-right: 2rem;
    }
  }
  &.opened {
    .membre-metadata {
      max-height: 1500px;
      transition: max-height 0.5s ease-in;
    }
  }
  &.displayed {
    .membre-metadata {
      opacity: 1;
    }
  }
}

@media (min-width: $small-breakpoint) {
  .membre {
    flex-direction: row;
    transition: flex-basis 500ms ease-in-out;
    flex-basis: 50%;
    .membre-wrapper {
      margin: 0 auto;
      transition: none;
      // width: 100%;
      // min-width: 220px;
    }
    .membre-metadata {
      width:0%;
      // opacity: 0;
      display: none;
      overflow-y: visible;
      -webkit-transition: width 1s ease-in-out;
      -moz-transition: width 1s ease-in-out;
      -o-transition: width 1s ease-in-out;
      transition: width 1s ease-in-out;
      // transition: opacity 2s linear;
      &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 22px 30px 22px 0;
        border-color: transparent #fafafa transparent transparent;
        left: -29px;
        top: 15px;
      }
    }
    &.opened {
      flex-basis: 100%;
      .membre-wrapper {
        width: 50%;
      }
      .membre-metadata {
        width: 50%;
      }
    }
    &.displayed {
      .membre-metadata {
        display: inline-block;
        // opacity: 1;
      }
    }
  }
}

@media (min-width: $medium-breakpoint) {
  .membre {
    flex-basis: 33%;
    &.opened {
      .membre-wrapper {
        width: 33%;
      }
      .membre-metadata {
        width: 67%;
      }
    }
  }
}

@media (min-width: $large-breakpoint) {
  .membre {
    flex-basis: 25%;
    &.opened {
      .membre-wrapper {
        width: 25%;
      }
      .membre-metadata {
        width: 75%;
      }
    }
  }
}

@media (min-width: $extra-large-breakpoint) {
  .membre {
    flex-basis: 20%;
    &.opened {
      .membre-wrapper {
        width: 20%;
      }
      .membre-metadata {
        width: 80%;
      }
    }
  }
}

