@import '../../sass/colors.scss';
@import '../../sass/fonts.scss';

.footer {
  background: $gray;
  color: $gray-100;

  h2, a {
    color:$gray-100;
  }

  .menu {
    padding:0;
    margin:0;
    list-style: none;

    li {
      padding:0;
      margin:.4rem 0;
      font-size: .9rem;
    }
  }
  .py-large {
    padding: 4rem;
  }
}
