@import '../../sass/colors.scss';
@import '../../sass/fonts.scss';

.archipel {
  background: $colibris-grey;
  color: #fff;
  font-size: 12px
}

.archipel__wrapper {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  height: 40px;
  padding: 7px 0
}

.archipel__islands {
  flex-grow: 1;
  order: 2
}

.islands {
  margin: 0 4px;
  position: relative;
  text-align: right;
}

@media (min-width: 768px) {
  .archipel__wrapper {
    height: auto;
    padding: 0
  }

  .archipel__islands {
    flex-grow: initial;
    order: initial
  }
  .islands {
    text-align: center;
  }
}


.islands__toggle {
  display: none
}

.islands__toggle-label {
  display: initial;
  font-size: 1.3em;
  text-transform: uppercase;
  cursor: pointer;
}

.islands__toggle-label span {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal
}

.islands__toggle-label::after {
  background: transparent url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="451.8" height="451.8"><path fill="#fff" d="M226 354.7c-8.2 0-16.3-3-22.4-9.3L9.3 151.2A31.6 31.6 0 1 1 54 106.4l172 172 171.8-172a31.6 31.6 0 0 1 44.8 44.8L248.3 345.4a31.5 31.5 0 0 1-22.4 9.3z"/></svg>') no-repeat center center;
  background-size: contain;
  content: "";
  display: inline-block;
  height: .75rem;
  margin-left: 1rem;
  margin-right: .5rem;
  transition: transform .15s ease-in-out;
  width: .75rem
}

.islands__list {
  background: $colibris-grey;
  box-shadow: 0 0 0 1px rgba(189, 201, 0, 0.11);
  color: #fff;
  font-size: 1.3em;
  margin: 12px 0 0;
  opacity: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 100%;
  transform: scale(0.75) translateY(-20px);
  transform-origin: 50% 0;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 500
}

.islands__list__item {
  display: block;
  line-height: 38px;
  text-align: left;
  text-transform: uppercase
}

.islands__list__item a {
  border: 0;
  color: #fff;
  display: block;
  padding: 0 29px 0 18px;
  white-space: nowrap
}

.islands__list__item a:hover,
.islands__list__item a:focus {
  color: #bdc900
}

.islands__list__item a.current {
  background: #bdc900;
  color: $colibris-grey;
}

.islands__toggle:checked~.islands__toggle-label::after {
  transform: rotate(180deg)
}

.islands__toggle:checked~.islands__list {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0)
}

@media (min-width: 768px) {
  .islands__toggle-label {
    display: none
  }

  .islands__list {
    align-items: center;
    box-shadow: none;
    background: transparent;
    display: flex;
    flex-flow: row nowrap;
    font-size: 12px;
    justify-content: flex-start;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;
    position: initial;
    transform: scale(1) translateY(0)
  }

  .islands__list__item {
    border-right: 1px solid #fff;
    line-height: initial;
    margin: 0;
    padding: 0
  }

  .islands__list__item a {
    padding: .3em 1em
  }

  .islands__list__item a.current {
    background: rgba(255, 255, 255, 0.2);
    color: #fff
  }
}

.social-links {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0
}

.social-links li {
  border-right: 1px solid #fff;
  margin: 0
}

.social-links a {
  align-items: center;
  box-sizing: content-box;
  color: transparent;
  display: flex;
  justify-content: center;
  padding: .3em .5em;
  width: 2.5em
}

.social-links a:hover,
.social-links a:focus {
  color: transparent
}

.social-links a::before {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  display: block;
  height: 1.3em;
  transition: background .5s ease-in-out;
  width: 100%
}

@media (min-width: 768px) {
  .social-links {
    line-height: initial
  }

  .social-links li:last-child {
    border-right: 0
  }
}

#archipel-section {
  background: $colibris-grey;
  color: $white;
  height: 24px;
}

#archipel {
  background: $colibris-grey;
  color: $white;
  font-size: .75rem;
  line-height: .8rem;
  font-family: 'geomanistlight', sans-serif;
  text-align: right;

  a {
    color: $white;
    text-transform: uppercase;
    font-family: 'geomanistmedium', sans-serif;
    transition: color .3s ease-out, background 3s ease-in;

    &.current,
    &:hover {
      color: $blue;
    }
  }

  .other-list {
    margin-left: 4px;
  }
  .other-list .list-unstyled {
    margin:0;
  }
}
